---
layout: page
title: "About"
description: "Hey, this is Jerry."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select>

<!-- Chinese Version -->
<div class="zh">

    <p>
        <strong>李鼎（Jerry Lee）</strong>
    </p>
    <p>
        Work @ 阿里云/淘宝/阿里巴巴B2B 杭州。
    </p>
    <p>
        邮件： oldratlee&lt;at&gt;gmail&lt;dot&gt;com <br />
        新浪微博：<a href="http://weibo.com/oldratlee">@oldratlee</a><br />
        我的豆瓣：<a href="http://www.douban.com/people/oldratlee/">@oldratlee</a><br />
        我的i生活博客： <a href="http://i.oldratlee.com/">i生活</a>
    </p>
    <p>
        <br />
    </p>
    <p>
        09年4月加入阿里巴巴B2B 杭州，平台技术部 国际站架构支持组。参与开发了B2B消息系统Napoli、B2B定时任务系统Belfry、B2B密钥安全系统Circe等项目。
    </p>
    <p>
        目前在 平台技术部 服务框架组，开发B2B分布式调用及服务治理框架Dubbo项目。
    </p>
    <p>
        Dubbo项目已经开源，欢迎关注
    </p>
    <p>
        项目新浪微博： <a href="http://weibo.com/dubbo">http://weibo.com/dubbo</a><br />
        文档： <a href="http://code.alibabatech.com/wiki/display/dubbo/Home">http://code.alibabatech.com/wiki/display/dubbo/Home</a><br />
        代码： <a href="https://github.com/alibaba/dubbo">https://github.com/alibaba/dubbo</a>
    </p>
    <p>
        08年在北京博看科技 就职。
    </p>
    <p>
        06年在NEC杭州 就职。
    </p>
</div>

<!-- English Version -->
<div class="en">
    <p>Hello World!</p>
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
